html, body {
    max-width: 100%;
    overflow-x: hidden;
}
svg{
    border: 1px black solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    align-self: center;
    border-radius: 8px;
}

.page-header {
  margin-top: 100px;
}

#check-complete-graph-btn{
    margin-top: 20px;
    margin-left: 10%;
}

#check-complete-graph-btn:hover {
    box-shadow: 0px 0px 10px darkgreen;
}

#reset-btn{
    margin-top: 20px;
    margin-left: 10px;
}

#reset-btn:hover {
    box-shadow: 0px 0px 10px darkred;
}

button{
    margin-bottom: 10px!important;
}

.toolbar-area{
    padding-right: 50px!important;
}

.text-muted{
    font-size: smaller;
    margin-bottom: 0;
}

.form{
    border: 1px solid #858688;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
}

.add-input-inner{
    margin: 5px auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.link-select, .add-input-inner{
    margin-bottom: 10px!important;
    margin-top: 0!important;
}


#alert{
    position:absolute;
    z-index:1400;
   top:2%;
    right:4%;
    margin:0px auto;
  text-align:center;
    display:none;
}

/* D3 CSS BEGIN*/
.links line {
  stroke: #999;
  stroke-opacity: 1;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 2px;
}

text {
  font-family: sans-serif;
  font-size: 13px;
}
/* D3 SAMPLE CSS END*/

