@page
@using GraphWebProject.Pages
@model IndexModel

<html>
<head>
    <meta charset="UTF-8">
    <title>GRAPH</title>
    <meta name="Umbetov Asman" content="GRAPH project">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="~/css/styles.css">
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Fjalla+One" rel="stylesheet">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
<body class="bg-light">
<div class="container">
    <div class="bg-light page-header">
        <h1>Graph Project</h1>
        <p>This project will allow you to learn graph structures the easiest way</p>
    </div>
</div>


<div class="row bg-light">
    <div class="col-8 graph-area">
        <svg id="svg-main" class="bg-white" width="90%" height="85%"></svg>
    </div>
    <div class="col-4 toolbar-area">
        <div class="container bg-light">
                <h2>Actions</h2>
            <div class="row">
                <div class="col">
                    <form id="add-node-form" class="form">
                        <label for="add-node-form" class="text-dark">Node addition</label>
                        <label for="add-node-input-id" class="text-muted">Node name:</label>
                        <input type="text" id="add-node-input-id" class="add-input-inner form-control"/>
                        <label for="add-node-input-group" class="text-muted">Node group:</label>
                        <input type="text" id="add-node-input-group" class="add-input-inner form-control"/>
                        <button type="button" id="add-node-btn" class="add-input-inner btn btn-success">Add Node</button>
                    </form>
                </div>
                <div class="col">
                    <form id="add-link-form" class="form">
                        <label for="add-link-form" class="text-dark">Link addition</label>
                        <br/>
                        <label for="from-link-select" class="text-muted">From:</label>
                        <select id="from-link-select" class="link-select form-control">
                        </select>
                        <label for="to-link-select" class="text-muted">To:</label>
                        <select id="to-link-select" class="link-select form-control">
                        </select>
                        <button type="button" id="add-link-btn" class="add-input-inner btn btn-success">Add Link</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form id="delete-node-form" class="form">
                        <label for="delete-node-form" class="text-dark">Node delition</label>
                        <br/>
                        <select id="node-to-delete-select" class="link-select form-control">
                        </select>
                        <button type="button" id="delete-node-btn" class="btn btn-danger">Delete Node</button>
                    </form>
                </div>

                <div class="col">
                    <form id="delete-link-form" class="form">
                        <label for="delete-link-form" class="text-dark">Link delition</label>
                        <br/>
                        <select id="link-to-delete-select" class="link-select form-control">
                        </select>
                        <button type="button" id="delete-link-btn" class="btn btn-danger">Delete Link</button>
                    </form>
                </div>
            </div>


            <button type="button" class="btn btn-info">Info</button>
        </div>    
    </div>
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="~/js/layout.js"></script>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>